h1 a {
    color: red;
}

div.token {
    width: auto;
    border: 1px solid black;
    word-wrap: break-word;
}

div.login{
    width: 350px;
    height: 100px;
    background-color: gray;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid orange;
}

.container {
    width: 80%;
    height: 200px;
    background-color: gray;
    margin:auto;
    border: 10px solid orange;
}

.left {
    width:50%;
    height: 200px;
    background: gray;
    float: left;
    border: 1px solid orange;
}

.right{
    margin-left: 50%;
    height: 200px;
    background:gray;
    word-wrap: break-word;
    border: 1px solid orange;
}

.buttonHelper { text-align: center;}
