<html>
    <head>
        <title> Account Creation </title>
    </head>
    <body>
        <p> Enter a username and email below to create a new Cognito Account </p>
        <p> The refresh token will be displayed upon sucessful creation </p>

        <form action = "/signup/" method = "get">
            <input type= "text" name = "user">
            <input type= "text" name = "email_addr">
            <input type="text" name="tenant">
            <input type="text" name ="user_id">
            <input type="submit" value = "Create User">
        </form>
    </body>
</html>
