<html>
    <head>
        <title>Migration Authentication Helper</title>
    </head>
    <body>
        <p> Select Sign Up to create a new user </p>
        <form action="/cognito/sign-up-form/" method="get">
            <input type="submit" value="Sign Up">
        </form>
        <p> Select Existing User to get a list of users and get the refresh token for a chosen user</p>
        <form action="/cognito/getToken/" method="get">
            <input type = "submit" value = "Existing User">
        </form>
    </body>
<html>
