{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="card mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Automated User Creation</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Create New Service Account</li>
                    <li> Get Refresh Token</li>
                </ul>
                <form action="/cognito/sign-up-form/" method="get">
                    <input type ="submit" class="btn btn-lg btn-block btn-outline-primary" value="Create Account">
                </form>
            </div>
        </div>        
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Fetch Token for Exsiting Account</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Lists users in the Cognito Pool</li>
                    <li>Returns the refresh token for a choosen account</li>
                </ul>
                <form action="/cognito/getToken/" method="get">
                    <input type = "submit" class="btn btn-lg btn-block btn-outline-primary" value = "Account List" align="center">
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}
