<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title> Account Creation </title>
    </head>
    <body>
        <p> Enter a username and email below to create a new Cognito Account </p>
        <p> The refresh token will be displayed upon sucessful creation </p>

        <form action = "/cognito/signup/" method = "get">
            <table>
                <tr>
                    <td align="right">Username:</td>
                    <td align="left"><input type= "text" name = "user"/></td>
                </tr>
                <tr>
                    <td align = "right">Email:</td>
                    <td align = "left"><input type= "text" name = "email_addr"/></td>
                </tr>
                <tr>
                    <td align = "right">Tenant ID:</td>
                    <td align = "left"><input type="text" name = "tenant_id"/></td>
                </tr>
                <tr>
                    <td align = "right">User ID:</td>
                    <td align = "left"><input type="text" name = "user_id"/></td>
                </tr>
            </table>    
                
            <td align = "left"><input type="submit" value = "Create User"/></td>
                
        </form>
    </body>
</html>
